.team-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    gap: clamp(40px, 6vw, 80px);

    padding: 45px 5%;

    max-width: 1400px;

    margin: clamp(20px, 3vw, 60px) auto;
}

.team-left,
.team-right {
    flex: 1;
}

.team-left {
    display: flex;
    justify-content: center;
}

.team-right {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .team-section {
        flex-direction: column;
    }

    .team-right {
        justify-content: center;
        text-align: center;
    }

    .team-description-container {
        align-items: center;
    }

}