.team-section {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 160px; /* 80px */

  padding: 60px; /* 60px */
}

/* FOTO */

.team-left {
  display: flex;
  justify-content: center;
}

/* TEXTO */

.team-right {
  display: flex;
  align-items: center;
}