.accordion {
  display: flex;
}

.button-accordion {
  min-height: 119px;
  width: 100%;
  background-color: #ededed;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-width: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.button-accordion-open {
  min-height: 119px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-width: 0px;
  margin-left: 30px;
  margin-right: 30px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-accordion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-accordion-open {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img-accordion {
  width: 150px;
  height: 150px;
}

.accordion-title {
  font-weight: 400;
  font-size: 25px;
}

.content-accordion {
  text-align: start;
  margin-left: 40px;
  font-weight: 400;
  font-size: 25px;
}

.card-accordion-content {
  margin-bottom: 40px;
}

@media (max-width: 874px) {
  /* .img-accordion {
    display: none;
  } */

  .img-accordion {
    width: 100px;
    height: 100px;
  }

  .content-accordion {
    text-align: start;
    font-weight: 400;
    font-size: 25px;
    margin-left: 10px;
  }

  .card-accordion-content {
    margin-bottom: 5px;
  }
}
