.past-schedule-section {
    display: flex;
    flex-direction: column;

    gap: 2.2rem;

    padding: 3rem 0 4rem;

    background-color: #f4f4f4;
}

.past-schedule-section h2 {
    width: min(100% - 10rem, 104rem);

    margin: 0 auto 1rem;

    color: #700000;

    font-size: 3.6rem;
    font-weight: 400;
}


/* ================= TABLET ================= */

@media (max-width: 900px) {

    .past-schedule-section {
        padding: 2.5rem 0 3rem;
    }

    .past-schedule-section h2 {
        width: min(100% - 4rem, 100rem);

        margin: 0 auto 2rem;
        font-size: 3.2rem;
    }

}


/* ================= CELULAR ================= */

@media (max-width: 768px) {

    .past-schedule-section {
        gap: 1.6rem;
        padding: 2rem 0 2.5rem;
    }

    .past-schedule-section h2 {
        width: min(100% - 3rem, 60rem);

        margin: 0 auto 2rem;

        text-align: center;

        font-size: 2.5rem;
    }

}
