.past-schedule-section {
    display: flex;
    flex-direction: column;

    gap: 3rem;

    padding: 4rem 0 5rem;

    background-color: #f4f4f4;
}

.past-schedule-section h2 {
    width: min(100% - 12rem, 120rem);

    margin: 0 auto 2rem;

    color: #700000;

    font-size: 4.8rem;
    font-weight: 400;
}


/* ================= TABLET ================= */

@media (max-width: 900px) {

    .past-schedule-section {
        padding: 3rem 0;
    }

    .past-schedule-section h2 {
        width: min(100% - 4rem, 100rem);

        margin: 0 auto 2rem;
        font-size: 4rem;
    }

}


/* ================= CELULAR ================= */

@media (max-width: 768px) {

    .past-schedule-section {
        gap: 2rem;
        padding: 2rem 0;
    }

    .past-schedule-section h2 {
        width: min(100% - 3rem, 60rem);

        margin: 0 auto 2rem;

        text-align: center;

        font-size: 3rem;
    }

}
