@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

.home-wrapper {
  position: relative;
}

/* ===== Banner ===== */

.banner {
  height: 50rem;
  font-family: "Ancizar Serif", serif;
  font-style: normal;
  background-color: white;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  object-position: center 0%;
  transform: scaleX(-1);
}

.banner-content {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 5%;
}

.banner-subtitle {
  font-size: 3.5rem;
  color: #8B1A1A;
}

.banner-title {
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.banner-title em {
  color: #8B1A1A;
  font-style: italic;
}

.banner-card {
  position: relative;
  margin-bottom: -5rem;
  margin-top: -12rem;
  margin-left: 35%;
  z-index: 3;
  width: fit-content;
}

.secao-150 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5%;
  background: radial-gradient(circle at 20% 70%, #ffd6d6, hsl(0, 90%, 66%));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secao-150-texto {
  position: relative;
  font-family: 'Ancizar Serif', serif;
  z-index: 1;
  margin-left: 5%;
  width: 100%;
}

.mais-de {
  font-size: 4rem;
  color: #8B1A1A;
}

.meninas-impactadas {
  font-size: 4rem;
  line-height: 1.2;
  color: #8B1A1A;
  margin-left: 15%;
}

.meninas-impactadas span {
  font-size: 8rem;
  font-weight: 700;
  color: #8B1A1A;
}

.circulo-gratis-ex {
  position: absolute;
  top: -25%;
  left: 60%;
  line-height: 5rem;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.circulo-gratis-in {
  font-family: 'Ancizar Serif', serif;
  z-index: 0;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 6rem;
  color: #5a0000;
  text-align: center;
}

.circulos-deco {
  position: absolute;
  top: 70%;
  left: 20%;
  z-index: 0;
}

.circulo-deco {
  position: absolute;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.c1 { width: 500px;  height: 500px; }
.c2 { width: 650px;  height: 650px; }
.c3 { width: 900px;  height: 900px; }
.c4 { width: 1100px; height: 1100px; }

/* ======================================================
   RESPONSIVIDADE
   ====================================================== */

/* ----- Tablet ----- */
@media (max-width: 1024px) {
  .banner {
    height: 35rem;
  }

  .banner-content{
    margin-top: 7%;
  }

  .banner-subtitle {
    font-size: 2.4rem;
  }

  .banner-title {
    font-size: 4rem;
  }

  .banner-card {
    margin-left: 34rem;
    margin-top: -21rem;
  }

  .secao-150 {
    height: 525px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding: 8% 5%;
  }

  .secao-150-texto {
    margin-top: 10%;
    margin-left: 0;
  }

  .mais-de {
    font-size: 3rem;
  }

  .meninas-impactadas {
    font-size: 3rem;
    margin-left: 8%;
  }

  .meninas-impactadas span {
    font-size: 6rem;
  }

  .circulo-gratis-ex {
    position:absolute;
    top: 9.6rem;
    left: 42rem;
    align-self: center;
    width: 380px;
    height: 380px;
  }

  .circulo-gratis-in {
    width: 290px;
    height: 290px;
    font-size: 4rem;
  }

  .circulos-deco {
    display: none;
  }
}

@view-transition{
  navigation: auto;
}

/* ----- Mobile ----- */
@media (max-width: 600px) {
  .banner {
    height: 33rem;
  }

  .banner-content {
    top: 14%;
    left: 6%;
    right: 6%;
  }

  .banner-subtitle {
    font-size: 1.4rem;
  }

  .banner-title {
    font-size: 2.4rem;
  }

  .banner-card {
    margin-left: 5%;
    margin-top: -14rem;
    width: 90%;
    padding: 0 5%;
  }

  .secao-150 {
    height: 320px;
    padding: 10% 6%;
      background: radial-gradient(circle at 50% 30%, #ffd6d6, hsl(0, 90%, 66%));
    gap: 3rem;
  }

  .secao-150-texto {
    margin-left: 0;
    text-align: center;
  }

  .mais-de {
    font-size: 2rem;
  }

  .meninas-impactadas {
    font-size: 1.6rem;
    margin-left: 0;
  }

  .meninas-impactadas span {
    font-size: 4rem;
  }

  .circulo-gratis-ex {
    width: 220px;
    height: 220px;
  }

  .circulo-gratis-in {
    width: 170px;
    height: 170px;
    font-size: 2.2rem;
  }
}
