@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.banner{
    font-family: 'Ancizar Serif', serif;
    height: 105vh;
    background-color: white;
    overflow: hidden;
    position: relative;
    margin-top: calc(-96px - 16px);
    
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    object-position: center 0%;
    transform: scaleX(-1);
}
.banner-text{
    position: absolute;
    top: 5rem;
    left: 2rem;
}

.banner-subtitle {
  font-size: 3.5rem;
  color: #8B1A1A; /* ajuste a cor exata do Figma */
}

.banner-title {
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.banner-title em {
  color: #8B1A1A; /* mesma cor do subtítulo */
  font-style: italic;
}

.secao-150 {
  position: relative;
  overflow: hidden;
  padding: 6rem 3rem;
  background: radial-gradient(circle at 15% 60%, #ffd6d6, hsl(0, 90%, 66%));
  display: fex;
  align-items: center;
  justify-content: space-between;
}

.secao-150-texto {
  font-family: 'Ancizar Serif', serif;
  z-index: 1;

}

.mais-de {
  font-size: 1.5rem;
  color: #8B1A1A;
}

.meninas-impactadas span {
  font-size: 6rem;
  font-weight: 700;
  color: #8B1A1A;
}

.meninas-impactadas {
  font-size: 2rem;
  color: #8B1A1A;
}

.circulo-gratis-ex {
  position: absolute;
  top: 5%;
  left: 80%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circulo-gratis-in {
  font-family: 'Ancizar Serif', serif;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  color: #5a0000;
  text-align: center;
}

.circulos-deco {
  position: absolute;
  top: 60%;
  left: 15%;
}

.circulo-deco {
  position: absolute;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
}

.c1 { width: 290px;  height: 290px; }
.c2 { width: 390px; height: 390px; }
.c3 { width: 510px; height: 510px; }
.c4 { width: 650px; height: 650px; }