.title-card {
  margin-bottom: clamp(32px, 5vw, 64px);
}

.title {
  max-width: 920px;
  margin: 0;
  font-weight: 400;
  font-size: clamp(32px, 5vw, 50px);
  line-height: 1.05;
}

.span {
  color: #dd6e7c;
}
